#sil_simple_slideshow
{
	clear: both;
	margin-top: 2px;
	margin-bottom: 2px;
}

#sil_pagination
{
	text-align:center;
	list-style:none;
	border:0;
	margin:0;
	padding:0;
	margin-top: 5px;
}

#sil_pagination li, .sil_page
{
	display:inline;
	list-style:none;
	float: left;
	margin: 5px;
	padding: 4px;
	background-color: #666666;
	color: #000000;
}

#sil_pagination li a:link,
#sil_pagination li a:visited,
#sil_pagination li a:hover,
#sil_pagination li a:active
{
	color: #000000;
	text-decoration: none;
}

#sil_pagination li:hover
{
	background-color: #cccccc;
	color: #000000;
}

#sil_pagination li.sil_page_active
{
	background-color: #000000;
	color: #cccccc;
}

#sil_pagination li.sil_page_active a
{
	color: #cccccc;
}

/**** lighbotx ****/

#sil_lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(overlay.png) repeat;
    background-color: #333333;
    text-align:center;
    z-index: 10000;
}

#sil_lightbox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}

#sil_lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}

